/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Blimone";
  src: local("Blimone"), url(../src/assets/fonts/Blimone-Light.woff);
}

:root {
  --music-theme: #c24437;
  --music-border-theme: #a40011;
  --menu-width: 200px;
}

body {
  --color-bg: #ededed;

  --color-bg-opacity: rgba(255, 255, 255, 0.5);
}

body[arco-theme="dark"] {
  --color-bg: #373739;
  --color-bg-opacity: rgba(0, 0, 0, 0.5);
}
